<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ _('Hello world!') }}</title>
    
    <!-- See "make css-{debug|compile}" for compiled(_debug).css-->
    <link rel="stylesheet" href="/css/compiled_debug.css" type="text/css" data-build="tr:/css/compiled.css">

    <!-- Closure Library dev mode -->
    <script src="/js/cssmap_debug.js" data-build="remove"></script>
    <script src="/js/closure-lib/closure/goog/base.js" data-build="remove"></script>
    <script src="/js/deps.js" data-build="tr:/js/compiled.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div role="main">{% block main %}{% endblock %}</div>
        
    {% block bottom %}{% endblock %}
  </body>
</html>
